
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Schlorship Portal <br>
            <small class="text-light">Electronics and Information technology</small>
        </a>
      
        <div class="justify-content-center" >
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        <div class=" justify-content-end">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </div>
</nav>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner  ">
        <div class="carousel-item active">
            <img src="assets/schemes.gif" class="d-block w-100" height="400">
            <div class="carousel-caption">
                <button class="btn btn-warning btn-space  float-end">Click To Participate </button>
                <button class="btn btn-danger btn-space float-end">Search for Institute </button>
                <button class="btn btn-info btn-space float-end">Dashboard </button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">New User?Register</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Login to Apply</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Apply for Renewal</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Searh for Institute/School/ITI</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Scheme Wise Scholarship Sanctioned List
                        </a>
                    </li>

                </ul>

        </div>
    </nav>

    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <!--Implementation of Form Validation,NgClass and Two Way Binding-->
                                    <form [formGroup]="loginForm">
                                        <h3 class="text-center">Fill Application Form</h3>
                                        <div class="form-outline mb-4">
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="reg" (keyUp.enter)="showReg()" id="form2Example11" class="form-control"
                                                    formControlName="registration" placeholder="Application ID" />
                                                <span *ngIf="registration?.invalid && registration?.touched"
                                                    class="text-danger"> Registration ID is must</span>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <div class="form-group">
                                                <input type="password" [(ngModel)]="pass" (keyUp.enter)="showPass()" id="form2Example22" class="form-control"
                                                    name="password" formControlName="password" placeholder="Password" />
                                                <span *ngIf="password?.invalid && password?.touched"
                                                    class="text-danger"> Password is must</span>
                                                <!--<span *ngIf="password?.invalid && password?.minLength" > Password is must be 8 characters</span>
                                             -->
                                            </div>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-success btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit">Log in</button><br>
                                            <a class="text-primary" href="#!" style="text-decoration: none;">New
                                                Student?Register Here</a><br>
                                            <a class="text-primary" href="#!" style="text-decoration: none;">Forgot
                                                Application ID</a><br>
                                            <a class="text-primary" href="#!" style="text-decoration: none;">Forget
                                                Password</a>
                                        </div>
                                    </form>
                                    <div class="card" style="width: 30rem;">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">Help Desk</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Candidates can contact the Help
                                                Desk for resolution of the technical problems</h6>
                                            <hr>
                                            <a href="#" class="card-link text-danger"
                                                style="text-decoration: none;"><strong> 0120 - 6619540</strong></a>
                                            <hr>
                                            <a href="#" class="card-link text-danger"
                                                style="text-decoration: none;"><strong>helpdesk.scholar.in</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <h2> Latest Updates </h2>
                                    <p class="text-muted"> Schemes of Uttarakhand are now open in the portal now.
                                        Applicants of last year
                                        can apply as renewal instead of fresh with their old application id and password
                                    </p>
                                    <hr>
                                    <p class="text-danger">Renewal Applications where there is a mismatch in aadhaar
                                        details can submit
                                        their applications now

                                        Central Sector Pre-Matric Schemes of Minorities , Labour , Disabilities and NMMS
                                        dates have been extended till 30/11/2021 </p>
                                    <hr>

                                    <p class="text-success"> For AY2020-21, for Pre-Matric, Post Matric and Top Class
                                        schemes of Department
                                        of Empowerment of Persons with Disablitites, the link for correction in bank
                                        accounts will be closed on 15.10.2021, after which no further request will be
                                        considered. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Implementation of ngClass
<button *ngIf="!contentHighlighted" (click)="contentHighlighted=true">Highlight</button>
<button *ngIf="contentHighlighted" (click)="contentHighlighted=false">Un-Highlight</button> --> 
    <h2 class="text-center" *ngIf="!contentHighlighted" (click)="contentHighlighted=true" 
        style="text-decoration: none;display:block;text-align:center;font-size: 2rem;color: orange;">About Us</h2>

    <h2 class="text-center" *ngIf="contentHighlighted" (click)="contentHighlighted=false" 
        style="text-decoration: none;display:block;text-align:center;font-size: 2rem;color: orange;">About Us</h2> 
    <div [ngClass]="{highlighted:contentHighlighted}" class="container">
        <p>
            National Scholarships Portal is one-stop solution through which various services starting from student
            application, application receipt, processing,
            sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is
            taken as Mission Mode Project under
            National e-Governance Plan (NeGP)<br>

            <strong>Vision </strong><br>
            National Scholarships Portal is one-stop solution through which various services starting from student
            application, application receipt, processing,
            sanction and disbursal of various scholarships to Students are enabled.
            This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent
            'SMART' System for faster & effective disposal
            of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.
            <br>
            <strong>Mission </strong><br>
            The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims at
            providing common electronic portal for
            implementing various Scholarships schemes launched by Union Government, State Government and Union
            Territories across the country.
            <br>
            <strong>Objectives</strong><br>
            Ensure timely disbursement of Scholarships to studentsProvide a common portal for various Scholarships
            schemes of Central and State GovernmentsCreate
            a transparent database of scholarsAvoid duplication in processingHarmonisation of different Scholarships
            schemes & normsApplication of Direct Benefit Transfer
            Benefits<br>
            <strong>
                <u> Simplified process for the students:</u><br>

                1: All scholarships information available under one umbrella. <br>

                2: Single integrated application for all scholarships<br><br>

                <u>Improved transparency :</u><br>
                1: System suggests the schemes for which a student is eligible. <br>

                2: Duplicates can be reduced to the maximum extent<br><br>

                <u>Helps in standardisation :</u><br>
                1: Master data for Institutions and courses at all India level .<br>

                2: Scholarships processing<br>

                Serves as a decision support system (DSS) for Ministries and departments as up-to date information will
                be available on demand.
                Comprehensive MIS System to facilitate monitoring every stage of Scholarships distribution i.e. from
                student registration to delivery of funds
            </strong>
        </p>
    </div>